[submodule "src/external/bamtools"]
	path = src/external/bamtools
	url = https://github.com/amcpherson/bamtools.git
[submodule "src/external/tclap"]
	path = src/external/tclap
	url = git://git.code.sf.net/p/tclap/code
[submodule "pypeliner"]
	path = pypeliner
	url = https://dranew@bitbucket.org/dranew/pypeliner.git
