[submodule "src/external/bamtools"]
	path = src/external/bamtools
	url = https://github.com/amcpherson/bamtools.git
[submodule "pypeliner"]
	path = pypeliner
	url = https://bitbucket.org/dranew/pypeliner.git
