appnope==0.1.0
backcall==0.2.0
bokeh==2.2.1
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
networkx==2.5
numexpr==2.7.1
numpy==1.19.2
packaging==20.4
pandas==1.1.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
Pygments==2.7.1
pyparsing==2.4.7
-e git+https://github.com/shahcompbio/pypeliner.git@9aad3f1ab7115d5b827e390866f48fea1ed5aa17#egg=pypeliner
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
-e git+git@github.com:amcpherson/remixt.git@b7312b386df767ef4b6c9fcedd7ad9e2fdd66cd2#egg=remixt
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
tables==3.6.1
tornado==6.0.4
traitlets==5.0.4
typing-extensions==3.7.4.3
wcwidth==0.2.5
